<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Angular Scheduling App</title>

		<!-- CSS -->
		<!-- load bootstrap and custom css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">

		<!-- JS -->
		<!-- load Angular, Firebase and Angular Firebase library and custom app.js -->
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js' type='text/javascript'></script>
		<script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyBiqBXmGcBJ1p76p3_cT0rOuB3cJY2oZLQ",		    
		    databaseURL: "https://angular-schedule-app-5e5e6.firebaseio.com",		   
		  };
		  firebase.initializeApp(config);
		</script>
		<script src='app.js' type='text/javascript'></script>
	</head>	
	<body ng-app='ScheduleApp'>
		<main ng-controller='mainController as mainCtrl'>
			<div class='container'>
				<div class='page-header text-center'>
					<h1>Schedule App</h1>
					<h4>Real time scheduling demo using AngularJS and Firebase 3 by Kristoffer Bandong.</h4>
					<p>What time would you like to meet?</p>
				</div>
				<div class='row'>				
					<div class='col-md-4 text-center' ng-repeat='day in data'>
						<h2>{{day.name}}</h2>
						<div class='time-slot' ng-repeat='slot in day.slots'>
							<input type='checkbox' id='{{day.name}}-{{slot.time}}' ng-checked='slot.booked' ng-disabled='slot.booked' ng-model='slot.booked'  />
							<label for='{{day.name}}-{{slot.time}}'>
								{{slot.time}} <br />
								<span ng-if='!slot.booked'>Available</span>
								<span ng-if='slot.booked'>Booked</span>
							</label>
							
						</div>
					</div>									
				</div>
				<div class='row'>
					<div class='col-md-12 text-center'>
						<a href='#' class='btn btn-primary' ng-click='reset()'>Reset</a>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>