.time-slot{
	input{
		display:none;

		&:checked{
			~ label{
				background:#f2dede; 
  				cursor:not-allowed;
  				animation:flashBooked 0.5s ease; 
			}
		}
	}

	label{
		padding:10px 20px; 
		color:#FFF; 
		cursor:pointer; 
		border-radius:5px; 
		transition:0.3s ease all;
		background:#6AB074;
		animation:flashAvailable 0.5s ease;  
	}

	/* animation for the time slot to flash red */
	@keyframes flashBooked {
	  0%, 100%  { background:#f2dede; transform:scale(1); }
	  50%       { background:#F99090; transform:scale(1.5); }
	}

	/* animation for the time slot to flash green */
	@keyframes flashAvailable {
	  0%, 100%  { background:#6AB074; transform:scale(1); }
	  50%       { background:rgb(119, 218, 78); transform:scale(1.5); }
	}
}